{% extends 'base.html.twig' %}
{% block sidebarmenu %}
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{path('provider_index')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Provider list</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('article_index')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Article list</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('provider_new')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add provider</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('article_new')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add article</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('sendmail')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>send email</p>
                </a>
              </li>
              <li class="nav-item">
			        <a href="{{path('cours')}}" class="nav-link active">
				      <i class="far fa-circle nav-icon"></i>
				      <p>Conversion Devise</p>
			        </a>
		          </li>
            </ul>
            {% endblock %}

{% block title %}{{parent()}}-CurrencyController!{% endblock %}
{% block menu %}
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{path('provider_index')}}" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Provider list</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('article_index')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Article list</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('provider_new')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add provider</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('article_new')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add article</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('sendmail')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>send email</p>
                </a>
              </li>
              <li class="nav-item">
			        <a href="{{path('cours')}}" class="nav-link">
				      <i class="far fa-circle nav-icon"></i>
				      <p>Conversion Devise</p>
			        </a>
		          </li>
            </ul>
          </li>
        </ul>
      </nav>
{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

	<hr/>

	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1>Cliquez sur un personnage</h1>
				<button type="button" class="btn btn-warning">Homer</button>
				<button type="button" class="btn btn-danger">Cartman</button>
				<button type="button" class="btn btn-primary">Elsa</button>
				<button type="button" class="btn btn-success">Lord Farquaad</button>
				<br><br>
				<div>
					<h2>Titre de l'oeuvre :
						<span id="titre"></span>
					</h2>
					<h2>Producteur :
						<span id="producteur"></span>
					</h2>
				</div>
			</div>
		</div>
	</div>


	<hr/>
	<!-- left column -->
	<div
		class="col-md-12">
		<!-- general form elements -->
		<div class="card card-primary">
			<div class="card-header">
				<h3 class="card-title">Faire une conversion de devise</h3>
			</div>
			<!-- /.card-header -->
			<!-- form start -->
			{# <form method="POST" action=""> #}

				<label for="devisecible">Conversion de la source : USD</label>
				<div class="card-body">
					<div class="form-group">
						<label for="devisecible">Devise cible</label>
						<select class="form-control" name="devisecible" id="devisecible">
							<option value="-" disabled selected>-</option>
							<option value="TND">TND</option>
							<option value="EUR">EUR</option>
						</select>

					</div>

					<div class="form-group">
						<label for="montant">Montant</label>
						<input type="number" name="montant" class="form-control" id="montant" placeholder="Enter le sujet de l'email">
					</div>
					<div class="form-group">
						<label for="message">Resultat</label>
						<textarea name="resultat" class="form-control" id="resultat" placeholder="résultat de conversion"></textarea>
					</div>
				</div>
				<!-- /.card-body -->

				<div class="card-footer">
					<button type="submit" id="conversion" class="btn btn-primary">Convertir</button>
				</div>
			{# </form> #}
		</div>
		<!-- /.card -->


		<!-- /input-group -->
	</div>
	<!-- /.card-body -->
</div>
<!-- /.card --><!-- Horizontal Form -->

<!-- /.card --></div><!--/.col (left) -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{# <script type="text/javascript">
$(document).ready(function () {
console.log("Script working properly");
// /// fonction ajax traitement employer
$('.btn').click(function () {
var personnage = $(this).html();
//alert(personnage) // recupération de l"mployer
$.ajax({
  url:'/ajax',
  type: "POST",
  dataType: "json",
  data: {
       "personnage": personnage
     },
  async: true,
  success: function (res)
    {
        console.log(res)
        $('#titre').text(res.titre);
        $('#producteur').text(res.producteur);
    }
});
  //alert("Ok");
})
});
</script> #}

<script type="text/javascript">
$(document).ready(function () {
console.log("Script working properly");
// /// fonction ajax traitement employer
$('#conversion').click(function () {
var devisecible = document.getElementById("devisecible").value;
var montant = document.getElementById("montant").value;
//alert(devisecible +" "+montant);
$.ajax({
  url:'/cours',
  type: "POST",
  dataType: "json",
  data: {
      "devisecible": devisecible,
	    "montant": montant,
     },
  async: true,
  success: function (res)
    {
        console.log(res)
        $('#resultat').text(res.resultat);
    }
});
});
});
</script>

{% endblock %}
