{% extends 'base.html.twig' %}

{% block sidebarmenu %}
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{path('provider_index')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Provider list</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('article_index')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Article list</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('provider_new')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add provider</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('addAjaxProvider')}}" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add provider-ajax</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('article_new')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add article</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('sendmail')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>send email</p>
                </a>
              </li>
              <li class="nav-item">
			        <a href="{{path('cours')}}" class="nav-link">
				      <i class="far fa-circle nav-icon"></i>
				      <p>Conversion Devise</p>
			        </a>
		          </li>
            </ul>
            {% endblock %}

{% block title %}New Provider{% endblock %}
{% block body %}
  <div class="col-md-12">
            <!-- general form elements -->
            <buttom id="btnlist" class="btn btn-success" style="margin:20px">Charger liste providers</buttom>
            <div class="card card-primary" id="blockAdd">
              <div class="card-header">
                <h3 class="card-title">Add new Provider</h3>
              </div>

              
                <div class="card-body">
                  <div class="form-group">
                    <label for="providername">Name</label>
                    <input type="text" name="name" class="form-control" id="providername" placeholder="Enter provider name">
                  </div>

                  <div class="form-group">
                    <label for="provideremail">Email</label>
                    <input type="email" name="email" class="form-control" id="provideremail" placeholder="Enter provider email">
                  </div>
                  <div class="form-group">
                    <label for="provideradress">Adress</label>
                    <input type="text" name="adress" class="form-control" id="provideradress" placeholder="Enter provider adress">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputFile">Provider logo</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" name="logo" class="custom-file-input" id="providerlogo">
                        <label class="custom-file-label" for="providerlogo">Choose file</label>
                      </div>
                      <div class="input-group-append">
                        <span class="input-group-text">Upload</span>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button id="add" class="btn btn-primary">ADD Provider Using Ajax</button>
                </div>

            </div>
            <!-- /.card -->

           
          

                
              
                <!-- /input-group -->
              </div>
              <!-- /.card-body -->
            
            <!-- /.card -->
            <!-- Horizontal Form -->
        
            <!-- /.card -->

          
          <!--/.col (left) -->
              <div class="card-body" id="listpro">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Adress</th>
                        <th>photo</th>
                {# <th>actions</th> #}
                      </tr>
                    </thead>
                    <tbody id="trprovider">
         {# {% for provider in providers %} #}
                      <tr>

                {# <td>
                    <a class="btn btn-warning" href="{{path('provider_show', {'id': provider.id}) }}">show</a>
                    <a class="btn btn-danger" href="{{path('provider_edit', {'id': provider.id}) }}">edit</a>
                </td> #}
                      </tr>
        {# {% else %}  #}
                      {# <tr>
                        <td colspan="5">no records found</td>
                      </tr> #}
        {# {% endfor %} #}
                    </tbody>
                </table>
              </div>

    <a href="{{ path('provider_index') }}">back to list</a>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {

//debut traitement chargement list  avec ajax

  document.getElementById("listpro").style.visibility="hidden" 
$('#btnlist').click(function () {
    //alert("Ok");
    $('#blockAdd').toggle();
  document.getElementById("listpro").style.visibility="visible";
$.ajax({
  url:'/provider/listajax',
  type: "GET",
  dataType: "json",
  data: {
     },
  async: true,
  success: function (res)
    {
        res=res["providers"];
        //$('#providers').text(res);
        var text = '';
        var textf = '';
        for (let i = 0; i < res["length"]; i++) {
        var n = res[i]["id"];
        console.log(res[i]["id"].toString());
        text += '<td>'+res[i]["id"]+'</td><td>'+res[i]["name"]+'</td><td>'+res[i]["email"]+'</td><td>'+res[i]["adress"]+'</td>'+
                    '<td><img src=\"'+"../uploads/providers/"+res[i]["photo"]+'\" width="100px"></td><td>'+
                    '<a class="btn btn-warning" href=\"'+"/provider/"+res[i]["id"]+'\">show</a>'+
                    '<a class="btn btn-danger" href=\"'+"/provider/"+res[i]["id"]+"/edit"+'\">edit</a></td>';
        text = '<tr>'+text+'</tr>';
        textf +=text;
        //console.log(text);
        text='';
      }
        document.getElementById("trprovider").innerHTML = textf;
        //console.log(document.getElementById("trprovider"));
        //alert("liste avec succes");
    }
});
});
//fin traitement list ajax

// debut traitement ajout avec ajax
$('#add').click(function () {
var name = document.getElementById("providername").value;
var email = document.getElementById("provideremail").value;
var adress = document.getElementById("provideradress").value;
// partie Ajax
$.ajax({
  url:'/provider/ajaxAdd',
  type: "POST",
  dataType: "json",
  data: {
      "name": name,
	    "email": email,
      "adress":adress
     },
  async: true,
  success: function (res)
    {
        console.log(res)
      // $('#providers').text(res.providers);
       alert("Ajout avec succès");
       //location.href = '/provider/list';
    }
});
});
//fin traitement ajout avec ajax

//debut traitement show avec ajax

//fin traitement show avec ajax

//debut traitement show avec ajax
//fin traitement show avec ajax
});
</script>
{% endblock %}