{% extends 'base.html.twig' %}
{% block sidebarmenu %}
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{path('provider_index')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Provider list</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('article_index')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Article list</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('provider_new')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add provider</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('article_new')}}" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add article</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('sendmail')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>send email</p>
                </a>
              </li>
              <li class="nav-item">
			        <a href="{{path('cours')}}" class="nav-link">
				      <i class="far fa-circle nav-icon"></i>
				      <p>Conversion Devise</p>
			        </a>
		          </li>
            </ul>
            {% endblock %}
{% block title %}New Article{% endblock %}

{% block body %}

    {{ include('article/_form.html.twig') }}

{% endblock %}
