 {% extends 'base.html.twig' %}

 {% block sidebarmenu %}
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{path('provider_index')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Provider list</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('article_index')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Article list</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('provider_new')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add provider</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('article_new')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add article</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('sendmail')}}" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>send email</p>
                </a>
              </li>
              <li class="nav-item">
			        <a href="{{path('cours')}}" class="nav-link">
				      <i class="far fa-circle nav-icon"></i>
				      <p>Conversion Devise</p>
			        </a>
		          </li>
            </ul>
            {% endblock %}
{% block title %}{{parent()}}-Article index{% endblock %}

{% block body %}
  <div class="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Rediger eamil</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Email</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <a href="mailbox.html" class="btn btn-primary btn-block mb-3">Back to Inbox</a>

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Folders</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body p-0">
                <ul class="nav nav-pills flex-column">
                  <li class="nav-item active">
                    <a href="#" class="nav-link">
                      <i class="fas fa-inbox"></i> Inbox
                      <span class="badge bg-primary float-right">12</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="far fa-envelope"></i> Sent
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="far fa-file-alt"></i> Drafts
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="fas fa-filter"></i> Junk
                      <span class="badge bg-warning float-right">65</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="far fa-trash-alt"></i> Trash
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Labels</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <ul class="nav nav-pills flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="far fa-circle text-danger"></i> Important</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="far fa-circle text-warning"></i> Promotions</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="far fa-circle text-primary"></i> Social</a>
                  </li>
                </ul>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Compose New Message</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">


              <form method="POST" action="">
                <div class="form-group">
                <label for="mailTo">To</label>
                    <input type="email" name="emailTo" class="form-control" id="emailTo" placeholder="Enter l'email destinatire">
                </div>
                <div class="form-group">
                  <input type="text" name="sujet" class="form-control" id="sujet" placeholder="Enter le sujet de l'email">
                </div>
                <div class="form-group">
                    <textarea name="message" class="form-control" id="message" placeholder="Enter votre message">
                    </textarea>
                </div>
                <div class="form-group">
                  <div class="btn btn-default btn-file">
                    <i class="fas fa-paperclip"></i> Attachment
                    <input type="file" id="attach" name="attachment">
                  </div>
                  <p class="help-block">Max. 32MB</p>
                </div>
              
              <!-- /.card-body -->
              <div class="card-footer">
                <div class="float-right">
                  <button type="button" class="btn btn-default"><i class="fas fa-pencil-alt"></i> Draft</button>
                  <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Send</button>
                </div>
                <button type="reset" class="btn btn-default"><i class="fas fa-times"></i> Discard</button>
</form>

              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  {% endblock %}
